In [1]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

%matplotlib inline
sns.set_style('whitegrid')
matplotlib.rcParams['font.family'] = "serif"

Extract Covid patients from `lab result table` 

COV19 component codes
COMPONENT_ID = ['20126','202303','20240','20241','20242','20243','20244','20245','20264','20274','20275','20276','20277','20278','20279','20280','20283','20285','20286','20287','20288','20289','20290','20291','20292','20293','20298','20300','20301','20303','20308','20346','20347','20364','20365','20369','20379','20380','20381','20389','20390','20391','20392','20460','20463','20464','20465','20466','20469','20640','20647','20652','20655','20670']



# import lab result data and Encounter 
## lab result

In [2]:
Lab_path ='/Users/liu/Desktop/Pitts/Project/data/R3_1971_YE_ENCOUNTER_NOTES_2021_03_05/R3_1971_YE_LAB_RESULTS_2021_03_01.csv'

In [3]:
lab = pd.read_csv(Lab_path,encoding = "ISO-8859-1",low_memory=False)
lab

,STUDY_ID,COMPONENT_ID,LOINC_CD,ORDER_PROC_ID,RESULT_DATE,COMPONENT_NAME,ORD_VALUE,ORD_NUM_VALUE,REFERENCE_UNIT,REFERENCE_LOW,REFERENCE_HIGH,RESULT_FLAG,LAB_RESULT_STATUS,SPECIMEN_COLLECTED_DATE,SPECIMEN_RECEIVED_DATE,SPECIMEN_TYPE,SPECIMEN_SOURCE
0,5225051139,CHICA,NaN,1300669506234609,03/20/2011,"IONIZED CALCIUM, ISTAT",1.31,1.31,mmol/L,1.0,1.4,NaN,NaN,03/20/2011,03/20/2011,NaN,NaN
1,5221096496,MPV2,NaN,1300654567216343,03/20/2011,MEAN PLATELET VOLUME,7.4,7.40,fL,6.8,10.4,NaN,NaN,03/20/2011,03/20/2011,NaN,NaN
2,5221096496,MCVX2,NaN,1300745599389754,03/21/2011,MCV,91.6,91.60,fL,75.0,87.0,NaN,NaN,03/21/2011,03/21/2011,NaN,NaN
3,5222608343,CPCO2C,NaN,1299522596306602,03/07/2011,PCO2 ISTAT CAPILLARY,85,85.00,mmHg,32,48,NaN,NaN,03/07/2011,03/07/2011,NaN,NaN
4,5225013578,ALT2,NaN,1301420521714072,03/29/2011,ALANINE AMINOTRANS(ALT),25,25.00,IU/L,17,63,NaN,NaN,03/29/2011,03/29/2011,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20062170,5220012473,5,2345-7,500948329,01/05/2021,GLUCOSE,206,206.00,mg/dL,70,99,HIGH,FINAL,01/05/2021,01/05/2021,NaN,NaN
20062171,5220012473,24,3094-0,500948329,01/05/2021,UREA NITROGEN,26,26.00,mg/dL,8,26,NaN,FINAL,01/05/2021,01/05/2021,NaN,NaN
20062172,5220012473,20,1751-7,500948329,01/05/2021,ALBUMIN,3.1,3.10,g/dL,3.4,5.0,LOW,FINAL,01/05/2021,01/05/2021,NaN,NaN
20062173,5220012473,13,1742-6,500948329,01/05/2021,ALANINE AMINOTRANS(ALT),53,53.00,IU/L,17,63,NaN,FINAL,01/05/2021,01/05/2021,NaN,NaN
20062174,5220012473,1706,33037-3,500948329,01/05/2021,ANION GAP,13,13.00,mmol/L,7,15,NaN,FINAL,01/05/2021,01/05/2021,NaN,NaN

In [4]:
lab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20062175 entries, 0 to 20062174
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   STUDY_ID                 int64
 1   COMPONENT_ID             object
 2   LOINC_CD                 object
 3   ORDER_PROC_ID            int64
 4   RESULT_DATE              object
 5   COMPONENT_NAME           object
 6   ORD_VALUE                object
 7   ORD_NUM_VALUE            float64
 8   REFERENCE_UNIT           object
 9   REFERENCE_LOW            object
 10  REFERENCE_HIGH           object
 11  RESULT_FLAG              object
 12  LAB_RESULT_STATUS        object
 13  SPECIMEN_COLLECTED_DATE  object
 14  SPECIMEN_RECEIVED_DATE   object
 15  SPECIMEN_TYPE            object
 16  SPECIMEN_SOURCE          object
dtypes: float64(1), int64(2), object(14)
memory usage: 2.5+ GB

## encounter table

In [7]:
Encoutner_path ='/Users/liu/Desktop/Pitts/Project/data/R3_1971_YE_ENCOUNTER_NOTES_2021_03_05/R3_1971_YE_ENCOUNTERS_2021_03_01.csv'
Encounter  = pd.read_csv(Encoutner_path,encoding = "ISO-8859-1",low_memory=False)
# print(DEMOGRAPHICS.GENDER.value_counts())
Encounter['START_DATE'] = pd.to_datetime(Encounter['START_DATE'], format='%m/%d/%Y')
Encounter['END_DATE'] = pd.to_datetime(Encounter['END_DATE'], format='%m/%d/%Y')
Encounter

,STUDY_ID,START_DATE,END_DATE,ENC_TYPE,LOCATION,APPT_STATUS,ADMIT_SOURCE,HOSPITAL_SERVICE,PATIENT_TYPE,PATIENT_CLASS,CHIEF_COMPLAINT,CHIEF_COMPLAINT_ONSET_DATE
0,5222075010,2011-12-27,2011-12-30,INPATIENT,SHADYSIDE,NaN,MED STAFF REFERRAL,GENERAL MEDICINE,I INPATIENT,Inpatient,GRAM NEGATIVE ROD BACTEREMIA,12/27/2011 1824
1,5222788993,2011-09-12,2011-09-15,EMERGENCY,SHADYSIDE,NaN,MED STAFF REFERRAL,ENDOCRINOLOGY,EMERGENCY DEPT,Emergency Department,CIP,09/12/2011 2025
2,5222734234,2011-09-23,2011-09-23,EMERGENCY,SHADYSIDE,NaN,MED STAFF REFERRAL,EMERGENCY MEDICINE,EMERGENCY DEPT,Emergency Department,FLU SYMPTOMS,09/23/2011 1516
3,5222990158,2011-11-24,2011-11-24,EMERGENCY,SHADYSIDE,NaN,MED STAFF REFERRAL,EMERGENCY MEDICINE,EMERGENCY DEPT,Emergency Department,POSS FLU,11/24/2011 1734
4,5225514453,2011-11-21,NaT,OUTPATIENT,PRESBYTERIAN,NaN,MED STAFF REFERRAL,INTERNAL MEDICINE,SV SINGLE VISIT,Outpatient,EXAM,11/21/2011 0800
...,...,...,...,...,...,...,...,...,...,...,...,...
1995726,5223030638,2021-01-04,NaT,UPMC HOSPITAL SUMMARY,UPMC INPATIENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995727,5223030638,2021-01-03,NaT,HOSPITAL-ENCOUNTER,IP ALTOONA 5F PEDIATRICS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995728,5223030638,2021-01-01,NaT,EKG,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995729,5223030638,2021-01-02,NaT,NUTRITION,IP ALTOONA 5F PEDIATRICS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995730,5223030638,2021-01-02,NaT,IP CONSULT,IP ALTOONA 5F PEDIATRICS,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
Encounter[Encounter.ENC_TYPE=="LAB RESULTS"]

,STUDY_ID,START_DATE,END_DATE,ENC_TYPE,LOCATION,APPT_STATUS,ADMIT_SOURCE,HOSPITAL_SERVICE,PATIENT_TYPE,PATIENT_CLASS,CHIEF_COMPLAINT,CHIEF_COMPLAINT_ONSET_DATE
20,5220030820,2011-02-14,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,5222305102,2011-03-05,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,5222579657,2011-02-03,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,5222799993,2011-02-27,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,5222644125,2011-02-03,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1995671,5224619721,2021-01-02,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995689,5224333899,2021-01-02,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995690,5224333899,2021-01-02,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995691,5224333899,2021-01-02,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995692,5224333899,2021-01-02,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ED_Date

In [9]:
date = pd.read_csv('/Users/liu/Desktop/Pitts/Project/data/R3_1971_YE_ENCOUNTER_NOTES_2021_03_05/R3_1971_YE_ED_DATES_2021_03_01.csv')
date['ED_DATE'] = pd.to_datetime(date['ED_DATE'], format='%m/%d/%Y')
date[date.STUDY_ID==5224811307]

          STUDY_ID    ED_DATE
104034  5224811307 2020-03-30
104035  5224811307 2020-05-04
104036  5224811307 2020-07-21
104037  5224811307 2020-09-18
104038  5224811307 2020-10-26

# lab—covid
analysis the impact of covid, we just need the subset of whole table.  
Lab_small-----contain all of data about Covid patients

In [10]:
COMPONENT_ID_covid = ['20126','202303','20240','20241','20242','20243','20244','20245','20264','20274','20275','20276','20277','20278','20279','20280','20283','20285','20286','20287','20288','20289','20290','20291','20292','20293','20298','20300','20301','20303','20308','20346','20347','20364','20365','20369','20379','20380','20381','20389','20390','20391','20392','20460','20463','20464','20465','20466','20469','20640','20647','20652','20655','20670']

lab_covid = lab[lab.COMPONENT_ID.isin(COMPONENT_ID_covid)]

In [11]:
lab_covid=lab_covid.copy()

lab_covid['RESULT_DATE']=pd.to_datetime(lab_covid.loc[:,'RESULT_DATE'], format='%m/%d/%Y')
lab_covid['SPECIMEN_COLLECTED_DATE']=pd.to_datetime(lab_covid.loc[:,'SPECIMEN_COLLECTED_DATE'], format='%m/%d/%Y')
lab_covid['SPECIMEN_RECEIVED_DATE']=pd.to_datetime(lab_covid.loc[:,'SPECIMEN_RECEIVED_DATE'], format='%m/%d/%Y')

In [12]:
lab_covid#[lab_covid.STUDY_ID==5224811307]

,STUDY_ID,COMPONENT_ID,LOINC_CD,ORDER_PROC_ID,RESULT_DATE,COMPONENT_NAME,ORD_VALUE,ORD_NUM_VALUE,REFERENCE_UNIT,REFERENCE_LOW,REFERENCE_HIGH,RESULT_FLAG,LAB_RESULT_STATUS,SPECIMEN_COLLECTED_DATE,SPECIMEN_RECEIVED_DATE,SPECIMEN_TYPE,SPECIMEN_SOURCE
12811951,5222490990,20126,NaN,456253011,2020-03-29,SARS-COV-2 RT PCR,Detected,NaN,NaN,NaN,NaN,ABNORMAL,FINAL,2020-03-28,2020-03-29,NaN,NaN
12812155,5220287020,20126,NaN,427278747,2020-03-19,SARS-COV-2 RT PCR,Not Detected,NaN,NaN,NaN,NaN,NaN,FINAL,2020-03-19,2020-03-19,NaN,NaN
12813981,5224811307,20126,NaN,456506939,2020-03-30,SARS-COV-2 RT PCR,Not Detected,NaN,NaN,NaN,NaN,NaN,FINAL,2020-03-30,2020-03-30,NaN,NaN
12816054,5222879775,20126,NaN,455496858,2020-03-19,SARS-COV-2 RT PCR,Not Detected,NaN,NaN,NaN,NaN,NaN,FINAL,2020-03-19,2020-03-19,NaN,NaN
12816207,5225246982,20126,NaN,456063593,2020-03-25,SARS-COV-2 RT PCR,Not Detected,NaN,NaN,NaN,NaN,NaN,FINAL,2020-03-25,2020-03-25,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20061732,5222910373,20240,NaN,501961030,2021-01-08,IS PATIENT SYMPTOMATIC FOR SARS-COV-2,Yes,NaN,NaN,NaN,NaN,NaN,FINAL,2021-01-08,2021-01-08,NaN,NaN
20061819,5222197294,20283,NaN,504156130,2021-01-22,SARS-COV-2 REASON FOR ORDER,Required Test by Facility Prior to D/C,NaN,NaN,NaN,NaN,NaN,FINAL,2021-01-21,2021-01-22,NaN,NaN
20061849,5222980254,20283,NaN,503613425,2021-01-19,SARS-COV-2 REASON FOR ORDER,Required Test by Facility Prior to D/C,NaN,NaN,NaN,NaN,NaN,FINAL,2021-01-19,2021-01-19,NaN,NaN
20061850,5222980254,20240,NaN,503613425,2021-01-19,IS PATIENT SYMPTOMATIC FOR SARS-COV-2,No,NaN,NaN,NaN,NaN,NaN,FINAL,2021-01-19,2021-01-19,NaN,NaN
20062148,5222940443,20283,NaN,504415221,2021-01-23,SARS-COV-2 REASON FOR ORDER,Repeat Test Concern for False Negative,NaN,NaN,NaN,NaN,NaN,FINAL,2021-01-22,2021-01-22,NaN,NaN

In [13]:
num_ID = lab_covid.STUDY_ID.nunique()
print('the number of unique study ID: ', num_ID)

the number of unique study ID:  30652

In [ ]:
# extract covid patient's STUDY_ID and its corresponding RESULT_DATE 
#----  for the purpose of extraction covid patient in Encounter table

ID_date_dic = {}
n = lab_covid.shape[0]
for i in range(n):
    ID = lab_covid.iloc[i,0]
    result_date = lab_covid.iloc[i,4]
    ID_date_dic[ID] = ID_date_dic.get(ID,[])+[result_date]

In [28]:
# 
ID_date_dic

In [19]:
covid_patient_lab = lab_covid.STUDY_ID.values

In [20]:
covid_patient_lab

array([5222490990, 5220287020, 5224811307, ..., 5222980254, 5222980254,
       5222940443])

# encounter  +  lab_covid----encounter_covid_lab

In [23]:
encounter_covid_lab_tem = Encounter[Encounter.STUDY_ID.isin(covid_patient_lab)]
encounter_covid_lab_tem =  encounter_covid_lab_tem.sort_values('START_DATE')
encounter_covid_lab_tem= encounter_covid_lab_tem.iloc[-900000:]
encounter_covid_lab_tem.head(10)

,STUDY_ID,START_DATE,END_DATE,ENC_TYPE,LOCATION,APPT_STATUS,ADMIT_SOURCE,HOSPITAL_SERVICE,PATIENT_TYPE,PATIENT_CLASS,CHIEF_COMPLAINT,CHIEF_COMPLAINT_ONSET_DATE
4765,5222311145,2011-01-02,NaT,ER REPORT,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16596,5222311145,2011-01-02,NaT,IMAGING,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3930,5222311145,2011-01-02,NaT,EOH CENSUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3931,5222311145,2011-01-02,NaT,TELEPHONE,LATTERMAN FHC PCP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13228,5222311145,2011-01-02,2011-01-07,INPATIENT,MCKEESPORT,NaN,MED STAFF REFERRAL,FAMILY MEDICINE,I INPATIENT,Inpatient,PNEUMONIA,01/02/2011 1338
1068,5222311145,2011-01-02,NaT,LAB RESULTS,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17937,5222311145,2011-01-02,NaT,INPATIENT H&P,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3932,5222311145,2011-01-05,NaT,INFORMATIONAL,LATTERMAN FHC PCP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3934,5222311145,2011-01-07,NaT,TELEPHONE,LATTERMAN FHC HB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18878,5222311145,2011-01-07,NaT,ECHO,EXTERNAL DEPARTMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
ind =[]
n =  encounter_covid_lab_tem.shape[0]
count =  0 
id_tem = -1
for i in range(n):
    data = encounter_covid_lab_tem.iloc[i,:]
    ENC_TYPE = data.ENC_TYPE
    STUDY_ID = data.STUDY_ID
    
    if ENC_TYPE == 'LAB RESULTS':
        count+=1
        s_date = data.START_DATE
        init_date = min(ID_date_dic[STUDY_ID])
        id_tem = STUDY_ID
        if s_date >=init_date :
            ind.append(i)
    elif i>0 and STUDY_ID==id_tem :
        encounter_covid_lab.append(data)
        ind.append(i)
    else:
        continue 
        
    if count == -1:
        break 
        
ind

[6,
 7,
 8,
 9,
 10,
 11,
 15,
 16,
 18,
 36,
 38,
 46,
 47,
 48,
 49,
 50,
 51,
 57,
 62,
 67,
 77,
 78,
 80,
 81,
 82,
 83,
 84,
 87,
 90,
 96,
 97,
 98,
 102,
 104,
 105,
 106,
 107,
 108,
 111,
 120,
 121,
 128,
 129,
 130,
 140,
 141,
 149,
 150,
 155,
 159,
 163,
 176,
 177,
 180,
 181,
 197,
 202,
 203,
 216,
 218,
 219,
 224,
 241,
 244,
 246,
 247,
 248,
 249,
 250,
 251,
 253,
 255,
 271,
 276,
 277,
 279,
 282,
 284,
 285,
 292,
 298,
 299,
 300,
 301,
 302,
 306,
 308,
 310,
 311,
 312,
 313,
 314,
 317,
 319,
 320,
 321,
 322,
 323,
 330,
 333,
 337,
 338,
 339,
 342,
 346,
 348,
 353,
 354,
 355,
 356,
 361,
 364,
 365,
 366,
 367,
 368,
 369,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 385,
 386,
 387,
 388,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 407,
 408,
 409,
 410,
 411,
 431,
 432,
 433,
 434,
 435,
 436,
 443,
 445,
 448,
 450,
 453,
 454,
 456,
 471,
 476,
 478,
 491,
 492,
 500,
 505,
 506,
 507,
 508,
 509,
 511,
 512,
 515,
 516,
 517,
 518,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 530,
 532,
 533,
 534,
 561,
 562,
 573,
 574,
 575,
 576,
 577,
 610,
 611,
 612,
 613,
 614,
 626,
 629,
 631,
 633,
 634,
 635,
 640,
 641,
 642,
 643,
 644,
 645,
 647,
 648,
 649,
 651,
 653,
 707,
 708,
 709,
 711,
 713,
 716,
 718,
 723,
 725,
 728,
 729,
 731,
 737,
 739,
 742,
 759,
 772,
 775,
 786,
 788,
 789,
 790,
 791,
 792,
 793,
 804,
 805,
 814,
 815,
 816,
 817,
 818,
 821,
 824,
 825,
 826,
 852,
 854,
 855,
 856,
 857,
 858,
 859,
 873,
 874,
 878,
 880,
 894,
 895,
 897,
 898,
 899,
 900,
 901,
 902,
 904,
 906,
 908,
 909,
 910,
 911,
 926,
 928,
 929,
 932,
 978,
 979,
 981,
 982,
 1000,
 1003,
 1011,
 1031,
 1033,
 1035,
 1050,
 1054,
 1056,
 1057,
 1061,
 1063,
 1067,
 1076,
 1077,
 1085,
 1093,
 1094,
 1096,
 1097,
 1100,
 1124,
 1138,
 1148,
 1149,
 1150,
 1153,
 1162,
 1165,
 1167,
 1168,
 1169,
 1177,
 1178,
 1180,
 1181,
 1186,
 1187,
 1188,
 1192,
 1193,
 1195,
 1203,
 1208,
 1211,
 1218,
 1222,
 1226,
 1228,
 1230,
 1231,
 1232,
 1234,
 1238,
 1242,
 1243,
 1244,
 1245,
 1246,
 1268,
 1274,
 1292,
 1316,
 1321,
 1325,
 1327,
 1345,
 1348,
 1372,
 1380,
 1385,
 1388,
 1391,
 1392,
 1404,
 1409,
 1410,
 1411,
 1413,
 1424,
 1438,
 1456,
 1457,
 1478,
 1507,
 1510,
 1512,
 1520,
 1521,
 1525,
 1533,
 1539,
 1556,
 1559,
 1562,
 1591,
 1592,
 1593,
 1617,
 1621,
 1622,
 1627,
 1631,
 1650,
 1653,
 1658,
 1662,
 1667,
 1675,
 1677,
 1685,
 1686,
 1689,
 1694,
 1697,
 1700,
 1704,
 1705,
 1725,
 1728,
 1735,
 1738,
 1769,
 1771,
 1774,
 1788,
 1790,
 1793,
 1807,
 1811,
 1813,
 1814,
 1821,
 1833,
 1834,
 1847,
 1874,
 1878,
 1879,
 1883,
 1885,
 1911,
 1912,
 1917,
 1919,
 1921,
 1923,
 1924,
 1926,
 1927,
 1928,
 1929,
 1936,
 1940,
 1943,
 1946,
 1971,
 1974,
 1975,
 1976,
 1981,
 1986,
 1990,
 1997,
 2003,
 2004,
 2006,
 2014,
 2015,
 2023,
 2027,
 2037,
 2038,
 2043,
 2044,
 2045,
 2051,
 2064,
 2070,
 2071,
 2072,
 2073,
 2079,
 2080,
 2081,
 2083,
 2084,
 2086,
 2100,
 2110,
 2114,
 2120,
 2123,
 2131,
 2134,
 2135,
 2146,
 2147,
 2150,
 2153,
 2170,
 2172,
 2177,
 2179,
 2181,
 2182,
 2184,
 2187,
 2205,
 2209,
 2210,
 2211,
 2213,
 2216,
 2217,
 2223,
 2226,
 2227,
 2232,
 2233,
 2234,
 2235,
 2236,
 2237,
 2238,
 2239,
 2240,
 2241,
 2242,
 2243,
 2244,
 2246,
 2248,
 2249,
 2260,
 2261,
 2264,
 2277,
 2279,
 2280,
 2283,
 2284,
 2285,
 2287,
 2288,
 2293,
 2294,
 2296,
 2306,
 2311,
 2318,
 2321,
 2325,
 2327,
 2329,
 2331,
 2334,
 2335,
 2337,
 2338,
 2339,
 2349,
 2350,
 2383,
 2387,
 2398,
 2408,
 2411,
 2413,
 2433,
 2434,
 2435,
 2439,
 2440,
 2444,
 2445,
 2446,
 2447,
 2448,
 2449,
 2451,
 2464,
 2483,
 2484,
 2485,
 2486,
 2487,
 2495,
 2497,
 2506,
 2509,
 2513,
 2526,
 2548,
 2550,
 2586,
 2615,
 2616,
 2619,
 2620,
 2624,
 2626,
 2627,
 2628,
 2635,
 2645,
 2646,
 2660,
 2663,
 2667,
 2668,
 2671,
 2674,
 2678,
 2679,
 2689,
 2691,
 2694,
 2696,
 2717,
 2719,
 2720,
 2722,
 2723,
 2734,
 2735,
 2736,
 2737,
 2738,
 2739,
 2740,
 2741,
 2742,
 2743,
 2744,
 2745,
 2824,
 2827,
 2828,
 2829,
 2830,
 2836,
 2837,
 2838,
 2845,
 2846,
 2847,
 2848,
 2853,
 2854,
 2855,
 2856,
 2859,
 2860,
 2861,
 2862,
 2863,
 2866,
 2871,
 2872,
 2874,
 2875,
 2877,
 2881,
 2882,
 2884,
 2885,
 2899,
 2907,
 2908,
 2910,
 2913,
 2914,
 2921,
 2922,
 2924,
 2931,
 2932,
 2933,
 2938,
 2948,
 2950,
 2951,
 2952,
 2953,
 2954,
 2955,
 2957,
 2958,
 2963,
 2970,
 2971,
 2980,
 2981,
 2982,
 2983,
 2987,
 2988,
 2989,
 2991,
 2993,
 2994,
 2995,
 2997,
 2998,
 2999,
 3000,
 3001,
 3002,
 3003,
 3004,
 3005,
 3007,
 3036,
 3038,
 3039,
 3041,
 3042,
 3045,
 3049,
 3050,
 3052,
 3061,
 3068,
 3069,
 3070,
 3076,
 3083,
 3084,
 3085,
 3086,
 3089,
 3106,
 3107,
 3109,
 3113,
 3116,
 3119,
 3121,
 3122,
 3127,
 3128,
 3130,
 3131,
 3133,
 3135,
 3154,
 3171,
 3178,
 3208,
 3219,
 3232,
 3236,
 3237,
 3254,
 3257,
 3258,
 3259,
 3262,
 3267,
 3268,
 3269,
 3270,
 3272,
 3273,
 3275,
 3276,
 3279,
 3280,
 3290,
 3292,
 3293,
 3294,
 3307,
 3308,
 3314,
 3316,
 3321,
 3335,
 3338,
 3346,
 3356,
 3358,
 3373,
 3378,
 3425,
 3459,
 3461,
 3464,
 3467,
 3471,
 3490,
 3494,
 3495,
 3499,
 3513,
 3522,
 3527,
 3528,
 3529,
 3537,
 3544,
 3545,
 3550,
 3580,
 3581,
 3582,
 3584,
 3603,
 3604,
 3608,
 3609,
 3611,
 3616,
 3622,
 3638,
 3641,
 3644,
 3651,
 3655,
 3656,
 3663,
 3674,
 3677,
 3680,
 3682,
 3686,
 3689,
 3696,
 3703,
 3705,
 3708,
 3711,
 3714,
 3734,
 3736,
 3740,
 3753,
 3756,
 3759,
 3762,
 3785,
 3791,
 3792,
 3795,
 3800,
 3848,
 3856,
 3858,
 3872,
 3873,
 3879,
 3883,
 3885,
 3887,
 3890,
 3899,
 3901,
 3903,
 3904,
 3906,
 3925,
 3926,
 3927,
 3928,
 3929,
 3931,
 3941,
 3943,
 3973,
 3974,
 3988,
 3993,
 4001,
 4009,
 4011,
 4012,
 4013,
 4024,
 4025,
 4026,
 4028,
 4029,
 4031,
 4032,
 4033,
 4035,
 4037,
 4040,
 4047,
 4049,
 4068,
 4069,
 4071,
 4072,
 4073,
 4076,
 4079,
 4080,
 4081,
 4082,
 4083,
 4084,
 4094,
 4097,
 4106,
 4109,
 4111,
 4113,
 4118,
 4123,
 4126,
 4128,
 4140,
 4153,
 4156,
 4161,
 4165,
 4166,
 4169,
 4170,
 4171,
 4175,
 4177,
 4179,
 4180,
 4181,
 4182,
 4184,
 4185,
 4188,
 4189,
 4195,
 4196,
 4197,
 4199,
 4200,
 4201,
 4202,
 4203,
 4204,
 4205,
 4210,
 4211,
 4212,
 4214,
 4215,
 4216,
 4217,
 4218,
 4221,
 4222,
 4223,
 4224,
 4225,
 4226,
 4228,
 4230,
 4231,
 4233,
 4235,
 4236,
 4238,
 4239,
 4240,
 4241,
 4243,
 4246,
 4248,
 4259,
 4260,
 4261,
 4262,
 4269,
 4270,
 4271,
 4276,
 4277,
 4278,
 4284,
 4286,
 4287,
 4288,
 4294,
 4295,
 4299,
 4301,
 4302,
 4303,
 4306,
 4313,
 4314,
 4315,
 4329,
 4330,
 4331,
 4334,
 4340,
 4341,
 4342,
 4344,
 4345,
 4348,
 4354,
 4357,
 4358,
 4359,
 4360,
 4361,
 4362,
 4363,
 4366,
 4367,
 4368,
 4369,
 ...]

In [ ]:
len(ind)

In [25]:

encounter_covid_lab=encounter_covid_lab_tem.iloc[ind,:]  

# Remover column header and index
# save the result
# encounter_covid_lab stores all of records of covid patient
# for each patient, the initial record is the one getting LAB Results about COVID
# for this patient, after inital LAB result result, all of other record appearing after the initial will follow

encounter_covid_lab.to_csv("encounter_covid_lab.csv",index=False)

In [26]:
encounter_covid_lab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   STUDY_ID                    0 non-null      int64
 1   START_DATE                  0 non-null      datetime64[ns]
 2   END_DATE                    0 non-null      datetime64[ns]
 3   ENC_TYPE                    0 non-null      object
 4   LOCATION                    0 non-null      object
 5   APPT_STATUS                 0 non-null      object
 6   ADMIT_SOURCE                0 non-null      object
 7   HOSPITAL_SERVICE            0 non-null      object
 8   PATIENT_TYPE                0 non-null      object
 9   PATIENT_CLASS               0 non-null      object
 10  CHIEF_COMPLAINT             0 non-null      object
 11  CHIEF_COMPLAINT_ONSET_DATE  0 non-null      object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 0.0+ bytes